<form class="form" action="/submit" method="post">
	<input type="text" name="bodega" placeholder="Name of Bodega">
    <input type="text" name="address" placeholder="Adress, e.g. 721 Broadway">
    <input type="text" name="zip" placeholder="ZIP, e.g. 10003">
    <select name="city">
    	<option value="" disabled selected>Select a City</option>
	  	<option value="new york">New York</option>
	  	<option value="brooklyn">Brooklyn</option>
	  	<option value="queens">Queens</option>
	  	<option value="bronx">Bronx</option>
	  	<option value="staten island">Staten Island</option>
	</select>
    <input type="submit" value="Send">
</form>