<form class="form" action="">
    <input type="text" id="bodega" placeholder="Bodega's Name">
    <input type="text" id="feline" placeholder="Feline's Name">
    <input type="text" id="address" placeholder="Street Address">
    <input type="text" id="zip" placeholder="Zip Code">
    <p>NY</p>
    <input type="text" id="boro" placeholder="Borough">
    <input type="submit" value="Send">
</form>