<form class="form" action="/submit" method="post">
    <!-- <input type="text" name="coordinates" placeholder="coordinates e.g. 'lon,lat'"> -->

    <input type="text" name="address" placeholder="Adress">
    <input type="number" name="zip" placeholder="ZIP code">
    <input type="text" name="city" placeholder="City">
    <input type="submit" value="Send">
</form>