<div class="map">
	<div class="map__wrapper">
		<div id="js-map"></div>
	</div>
</div>

<script>

	// Set up map
	mapboxgl.accessToken = 'pk.eyJ1IjoiYW5uYWJpYWxhcyIsImEiOiJjaWh3bzVybjUwMm92dGZraHFwcnY4bG16In0.j2Sl8c2UoLY_yHBjO1vAfQ';
		var map = new mapboxgl.Map({
		    container: 'js-map',
		    style: 'mapbox://styles/mapbox/light-v9',
		    center: [-73.985, 40.745],
		    zoom: 12
		});

	// Add Geocoder to map
	var geocoder = new mapboxgl.Geocoder();
	map.addControl(geocoder);
	// Add more controls (navigation, geolocation):
	map.addControl(new mapboxgl.NavigationControl());
	map.addControl(new mapboxgl.GeolocateControl({position: 'bottom-left'}));
	// Disable zoom on scroll
	map.scrollZoom.disable();

	map.on('load', function () {
		// Fetch bodega data
		map.addSource("bodegas", {
			"type": "geojson",
			"data": "./api"
		});
		// Add bodegas to map
		map.addLayer({
		    "id": "bodegas",
		    "type": "circle",
		    "source": "bodegas",
		    "paint": {
	            "circle-radius": 5,
	            "circle-color": "#664228"
	        }
		});
		// GeoJSON schema for Geocoder query
		map.addSource('single-point', {
	        "type": "geojson",
	        "data": {
	            "type": "FeatureCollection",
	            "features": []
	        }
    	});
		// Set point after Geocoder result 
		map.addLayer({
	        "id": "point",
	        "source": "single-point",
	        "type": "symbol",
	        "layout": {
		        "icon-image": "veterinary-15"
		    }
    	});
		// Display marker for Geocoder result
    	geocoder.on('result', function(ev) {
        	map.getSource('single-point').setData(ev.result.geometry);
    	});
	});

	// Geolocation via https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation#Prompting_for_permission : -- WORKS ONLY WITH HTTPS

	// document.addEventListener("DOMContentLoaded", function locateMe() { 

	// 	if (!navigator.geolocation) {
 //    		console.log("Geolocation not supported by browser");
 //    		return;
 //  		};

	// 	function success(position) {

	// 		var lon = position.coords.longitude;
	// 		var lat = position.coords.latitude;

	// 		map.flyTo({ 
	// 			center: [lon, lat],
	// 			zoom: 15
	// 		});


	// 	};

	// 	function error() {
 //    		console.log("Geolocation disabled");
 //  		};	

	// 	navigator.geolocation.getCurrentPosition(success, error);
	// });

</script>