<div class="map">
	<div class="map__wrapper">
		<div id="js-map"></div>
	</div>
</div>

<script>

	mapboxgl.accessToken = 'pk.eyJ1IjoiYW5uYWJpYWxhcyIsImEiOiJjaWh3bzVybjUwMm92dGZraHFwcnY4bG16In0.j2Sl8c2UoLY_yHBjO1vAfQ';
		var map = new mapboxgl.Map({
		    container: 'js-map',
		    style: 'mapbox://styles/mapbox/streets-v9',
		    center: [-73.985, 40.745],
		    zoom: 12
		});

	map.addControl(new mapboxgl.Geocoder());
	map.addControl(new mapboxgl.NavigationControl());

	map.on('load', function () {
	    // map.addSource("points", {
	    //     "type": "geojson",
	    //     "data": {
	    //         "type": "FeatureCollection",
	    //         "features": [{
	    //             "type": "Feature",
	    //             "geometry": {
	    //                 "type": "Point",
	    //                 "coordinates": [-73.935242,40.730610]
	    //             }
	    //         }]
	    //     }
	    // });
		map.addSource("points", {
			"type": "geojson",
			"data": "./api"
		});

		map.addLayer({
		    "id": "points",
		    "type": "symbol",
		    "source": "points",
		    "layout": {
		        "icon-image": "veterinary-15"
		        }
		    });
	});

	// map.addSource("catData", {
 //        type: "geojson",
 //        data: {
	//             "type": "FeatureCollection",
	//             "features": [{
	//                 "type": "Feature",
	//                 "geometry": {
	//                     "type": "Point",
	//                     "coordinates": [-73.935242,40.730610]
	//                 },
	//                 "properties": {
	//                     "icon": "monument"
	//                 }
	//             }]
 //        }
 //    });


 //    map.addLayer({
 //        "id": "catData",
 //        "type": "symbol",
 //        "source": "catData",
 //       	"layout": {
 //            "icon-image": "{icon}-15"
 //        }
 //    });


	// Geolocation via https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation#Prompting_for_permission :

	// document.addEventListener("DOMContentLoaded", function locateMe() { 

	// 	if (!navigator.geolocation) {
 //    		console.log("Geolocation not supported by browser");
 //    		return;
 //  		};

	// 	function success(position) {

	// 		var lon = position.coords.longitude;
	// 		var lat = position.coords.latitude;

	// 		map.flyTo({ 
	// 			center: [lon, lat],
	// 			zoom: 15
	// 		});


	// 	};

	// 	function error() {
 //    		console.log("Geolocation disabled");
 //  		};	

	// 	navigator.geolocation.getCurrentPosition(success, error);
	// });

</script>