<div class="map">
	<div class="map__wrapper">
		<div id="map"></div>
	</div>
</div>

<script>
	// Mapbox Public Access Token
	L.mapbox.accessToken = 'pk.eyJ1IjoiYW5uYWJpYWxhcyIsImEiOiJjaWh3bzVybjUwMm92dGZraHFwcnY4bG16In0.j2Sl8c2UoLY_yHBjO1vAfQ'; 
	var map = L.mapbox.map('map', 'mapbox.light', {
			// attributionControl: false,
			// zoomControl: false
		}) 
		.setView([40.745, -73.985], 12);

	// var attribution = L.control.attribution();
	// 	 attribution.setPrefix('By <a href="https://www.github.com/annabialas" class="mapbox-improve-map">Anna Bialas</a>');
	// 	attribution.addAttribution('Powered by &copy; <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <a href="http://mapbox.com/map-feedback/" class="mapbox-improve-map">Improve this map</a>');
	// attribution.addTo(map);

	// var zoom = L.control.zoom();
	// 	zoom.setPosition('bottomleft');
	// zoom.addTo(map);
	
	map.scrollWheelZoom.disable();
</script>