<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<!-- Google Font Roboto -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900" rel="stylesheet">
	<!-- Shortcut Icon TBD -->
	<link rel="shortcut icon" href="https://shareonline.in/wp-content/uploads/2016/06/cartoon-cat-cartoon-cat-black-white-line-art-tatoo-tattoo-1280px-HjlIQR.jpg"/>
	<!-- Page title handled by handlebars -->
	<title>{{title}}</title>
	<!-- Foundation CSS -->
	<link rel="stylesheet" href="css/foundation.min.css" />
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Mapbox GL JS CDNs -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Mapbox Geocoder -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
	<!-- Compiled Stylesheet -->
	<link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
	<div class="top-nav">
		<div class="row">
		  	<div class="small-12 medium-6 large-8 columns">
		 		<h3 class="top-nav__logo"><a href="./">BODEGA(S WITH) CATS OF NYC</a></h3>
		  	</div>
		  	<div class="small-12 medium-6 large-4 columns">
		  		<nav class="top-nav__menu">
		  			<div class="small-6 medium-8 large-8 columns">
						<h5 class="top-nav__menu-item"><a href="./submit">Submit a Bodega</a></h5>
					</div>
					<div class="small-6 medium-4 large-4 large-4 columns">
						<h5 class="top-nav__menu-item"><a href="./api">API</a></h5>
					</div>
				</nav>
		  	</div>
		</div>
	</div>
	
	{{{body}}}

	<!-- Foundation JS -->
	<script src="js/what-input.js"></script>
	<script src="js/foundation.min.js"></script>
    <script>
    	// Initialize Foundation
    	$(document).foundation();
    </script>
</body>
</html>