<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns confirm">
	<h3 class="confirm__title">Submission successful</h3>
	<p class="confirm__description">You did it! </p>
	<a href="./index" class="confirm__back">Go To Map</a>
	</div>
</div>
</div>