<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns error">
	<h3 class="error__title">Ooops!</h3>
	<p class="error__description">Looks like something went wrong...</p>
	<em><a href="./submit" class="confirm_back">Try Again!</a><br>or<br>
	<a href="./" class="confirm__back">Take Me Back to the Map</a></em>
	</div>
</div>
</div>