<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
	<h3 class="form-title">Submit a Cat</h3>
	<p class="form-description">Lorem ipsum dolor sit.</p>
		{{> form }}
	</div>
<!-- 	{{#each cats}}
		<p>{{geometry}}</p>
	{{/each}} -->
</div>
</div>