<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
	<h3 class="form-title">Submit a Bodega</h3>
	<p class="form-description">You, too, can help put all the bodegas home to cats big and small (and furry and bald, and gracious, and strong...) on the map!</p>
	<p class="form-description">Your fellow feline lovers will be forever grateful (I promise!)</p>
	<p class="form-description">Please, fill out this form as accurately as you can in order for the bodega to be added to the map (as well as stored inside the one and only georeferenced database of bodegas with cats across the entire NYC!)</p>
		{{> form }}
	</div>
</div>
</div>